############################
# Backend (Spring Boot)
############################
backend/spring/.idea/
backend/spring/.gradle/
backend/spring/build/
backend/spring/out/

# Local Spring config
backend/spring/src/main/resources/application.properties

############################
# Frontend (React/Vue 등)
############################
frontend/node_modules/
frontend/dist/

############################
# Logs
############################
*.log

############################
# OS
############################
.DS_Store
Thumbs.db